body{
    margin: 5px;
    padding: 5px;
    background: url("../images/image-background.jpg") center center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title, h3{
    text-align: center;
}


.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 400px;
    margin: 20px;
}

label {
    display: inline-block;
    margin-bottom: 5px;
    color: #555;
    font-family: cursive;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #7D6F53FF;
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="email"]:hover,
input[type="tel"]:hover,
input[type="password"]:hover{
    border-color: rgb(111, 148, 242);
}
input[type="text"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="password"]:focus {
    background-color: rgb(188, 227, 224);
    border-radius: 12px;/* Change the border color on hover and focus */
}

span {
    color: red;
    font-size: 0.9rem;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 15px;
}

.submit {
    width: 100%;
}

legend {
    color: #333;
    font-weight: bold;
}
/*
input[type="submit"],
input[type="reset"] {
    padding: 10px;
    background-color: rgb(224, 224, 65);
    color: rgb(36, 4, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
*/
/*
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}
*/


.hello-btn {
    text-align: center;
    margin-top: 15px;
}
/*
#helloButton {
    padding: 10px;
    background-color: rgb(224, 224, 65);
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}
*/
span {
    display: block;
    color: red;
    font-size: 0.9rem;
    margin-top: 0px;
}










@import url('https://fonts.googleapis.com/css?family=Oswald:500');

body {
    margin: 40px; /* Increase margin */
    padding: 40px; /* Increase padding */
}

.back {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
}

.thx {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    /* Set the background of the navbar to be the background of the page */
    background: url("../images/image-background.jpg") center center/cover no-repeat fixed;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav a {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: #16151b;
    margin: 0 30px; /* Increase margin */
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
}

nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #16151b;
    top: 47%;
    animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

nav a:hover:before {
    animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

@keyframes in {
    0% {
        width: 0;
        left: 0;
        right: auto;
    }
    100% {
        left: 0;
        right: auto;
        width: 100%;
    }
}

@keyframes out {
    0% {
        width: 100%;
        left: auto;
        right: 0;
    }
    100% {
        width: 0;
        left: auto;
        right: 0;
    }
}

@keyframes show {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@for $i from 1 through 5 {
    nav a:nth-child(#{$i}) {
        animation: show 0.2s #{$i * 0.1 + 1}s ease 1 both;
    }
}



 /* CSS */
.button-6 {
 align-items: center;
 background-color: #FFFFFF;
 border: 1px solid rgba(0, 0, 0, 0.1);
 border-radius: .25rem;
 box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
 box-sizing: border-box;
 color: rgba(0, 0, 0, 0.85);
 cursor: pointer;
 display: inline-flex;
 font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
 font-size: 16px;
 font-weight: 600;
 justify-content: center;
 line-height: 1.25;
 margin: 0;
 min-height: 3rem;
 padding: calc(.875rem - 1px) calc(1.5rem - 1px);
 position: relative;
 text-decoration: none;
 transition: all 250ms;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 vertical-align: baseline;
 width: 100%;
}

.button-6:hover,
.button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-6:hover {
    transform: translateY(-1px);
}

.button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}


/* file upload button */
input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;

}

/* file upload button hover state */
input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

/* file upload button active state */
input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}


.button-5 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 150px;
}

.button-5:hover,
.button-5:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.button-5:hover {
    transform: translateY(-1px);
}

.button-5:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}
